<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/static/css/material.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/switch.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/js/account_json.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="nav" style="text-align:center;">
        <a href="/" style="font-size:13pt;">Prof_Index</a>
        <a href="/logout" style="float:right;">Logout</a>
    </div>
    <h1>{{current_user.name}}</h1>
    <form action="" method="post" style="text-align:center;">
        <span>Are you in your office?</span>
        <br>
        <span style="width:0px;">
            <div id="toggles">
                {% if current_user.availability %}
                <input type="checkbox" name="avail" id="checkbox1" class="ios-toggle" onclick="update();" checked/>
                <label for="checkbox1" class="checkbox-label" data-off="no" data-on="yes"></label>
                {% else %}
                <input type="checkbox" name="avail" id="checkbox1" class="ios-toggle" onclick="update();" unchecked/>
                <label for="checkbox1" class="checkbox-label" data-off="no" data-on="yes"></label>
                {% endif %}
            </div>
        </span>
    </form>
    <p>
        Tell people to go to this link to see your status: <br><b>www.profindex.info/prof/{{current_user.id}}</b>
    </p>

</body>
</html>
