<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/switch.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="nav" style="text-align:center;">
        <a href="/" style="font-size:13pt;">Prof_Index</a>
    </div>
    <div class="profile" style="background-image: url('{{image}}'); background-size: 250px auto; margin: 0 auto;margin-bottom:25px;"></div>
    <h1>{{prof}}</h1>
    <div style="text-align:center;">
        <span>{{status}}</span>
    </div>
</body>
</html>
